.mat-display-1{
    margin: 0 0 20px;
    font-weight: 500;
}
.mat-display-3{
    margin: 0 0 20px;
    font-weight: 400;
}
.mat-display-2,.mat-display-4{
    margin: 0 0 20px;
    font-weight: 400;
    color: #ff5252;
}